@model RouteModel.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="SelectedPlacemarks" class="col-form-label col-sm-12 col-md-2"></label>
                <div class="col-sm-12 col-md-10">
                    <select multiple="multiple" asp-for="SelectedPlacemarks" class="form-control form-control-sm multiselect small" asp-items="ViewBag.SelectedPlacemarks"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SelectedStyleMaps" class="col-form-label col-sm-12 col-md-2"></label>
                <div class="col-sm-12 col-md-10">
                    <select multiple="multiple" asp-for="SelectedStyleMaps" class="form-control form-control-sm multiselect small" asp-items="ViewBag.SelectedStyleMaps"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SelectedLineStyles" class="col-form-label col-sm-12 col-md-2"></label>
                <div class="col-sm-12 col-md-10">
                    <select multiple="multiple" asp-for="SelectedLineStyles" class="form-control form-control-sm multiselect small" asp-items="ViewBag.SelectedLineStyles"></select>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
